{% extends 'userbase.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Password reset | Prop Firms
{% endblock %}


{% block content %}

<div class="container mt-4 pt-4">
    <div class="row text-center">
        <div class="col col-sm col-md col-lg">
            <h2>Reset your password</h2>

        </div>
    </div>
</div>  <br/>

<div class="container mt-4 pt-4">
    <div class="row">
        <div class="col col-sm col-md col-lg">

        <form method="POST" class="form-inline">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-success" value="Submit" />
        </form>

        </div>
    </div>
</div>

{% endblock %}
