{% extends 'base.html' %}

{% load static %}


{% block title %}
    About Us
{% endblock %}


{% block content %}

<section class="ftco-section bg-light">
    <div class="container">
    <div class="row justify-content-center pb-5">

        <div class="col col-sm col-md col-lg">
            <h2 class="text-center">About Us</h2>
        </div>

        <div class="container">
            <div class="row text-center">
                <div class="col col-sm">
                    <h6>
                    We are experienced traders and decided to start a telegram group in the start of the pandemic in 2020 due to some bad experiences we had to face from some scam propfirms. <br/>
                    We have seen some traders almost crying as some  propfirms were not paying their profit splits during  the hardest pandemic worldwide.
                    <h5>We will never forget this!  </h5>

                    Since then we are trying to help traders by solving issues they might have been facing with various propfirms. We have also partnered with some world top propfirms and helped our traders’ community by giving free challenges through competition, sharing referral bonuses and giving discounts on challenges. <br/>

                    Group members are our main focus, we discuss various propfirms - their pros and cons, share our own experiences and hence, it's easier for anyone to get informed decisions by joining only one telegram group and as this group is not owned by any particular prop firm so members can expect neutral and valuable information from here.
                    This is like Tinder of propfirms community.  <br/>

                    Now we are moving to this website where we will be able to use more powerful tools such as comparisons, propfirms research, reviews, rating and everydays’ discussion. <br/>
                    Helping the community is our main goal and we are striving to serve the community more every day.
                    </h6>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>

{% endblock %}
