{% extends 'base.html' %}

{% load static %}


{% block title %}
    About Us
{% endblock %}


{% block content %}

<section class="ftco-section bg-light">
    <div class="container">
    <div class="row justify-content-center pb-5">

        <div class="col col-sm col-md col-lg">
            <h2 class="text-center">Services</h2>
        </div>

    </div>

    <div class="row justify-content-center pb-5">

        <div class="col col-sm col-md col-lg">
            <h2 class="text-center">CopyTrading</h2>

            <hr/>

            <a class="btn btn-success" href="https://www.octafx.com/copy-trade/master/37387699/" target="_blank">Copy</a>
        </div>


    </div>
    </div>
</section>

{% endblock %}
