<div class="input-group">
    <div class="form-outline">

    <form method="GET" action="{% url 'comparison_search' %}">
        {% csrf_token %}
        <div class="row text-center">
            <div class="col-6 col-lg-6 col-md-6 col-lg-6">
                <input type="search" name="query" class="form-control" placeholder="Firm A....">
            </div>
            <div class="col col-sm">
                <input type="search" name="queryTwo" class="form-control" placeholder="Firm B....">
            </div>
        </div>
            <input type="submit" value="Compare" class="btn btn-success" />
    </form>

    </div>
</div>
